$thin: 100;
$light: 300;
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$extra-bold: 800;
$black-bold: 900;

$bold-gray: #282c37;
$dark-gray: #576e82;
$dark-gray-2: #979797;
$dark-gray-3: #575252;
$light-gray: #e5e5e5;
$purple: #6265ae;
$white: #ffffff;
$red: #e50914; ;
